<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
        <form action="/Product/Add" method="post">
            
        <input type="type" name="Name" value="" placeholder="Name .." class="mb-3" />
        <textarea name="Discription" placeholder="Discription .."></textarea>
        <button type="submit">Save</button>
        </form>
    </body>
    </html>